body{
     font-family: "Gilroy","Arial",sans-serif;
     
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


/* header */

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 17px;
}

.header-top{
    border-bottom: 2px solid #eeeeee;
}

.header-top__adds{
    display: flex;
    align-items:center;
}

.adds-name{
    display: flex;
    align-items:center;
    margin-right: 30px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

}

.adds-name::before{
    content:"";
    display: block;
    width: 13px;
    height: 16px;
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px;
    
}

.adds-email{
    display: flex;
    align-items:center;
    text-decoration: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

}

.adds-email::before{
    content:"";
    width: 20px;
    height: 16px;
    display: block;
    margin-right: 9px;
    background-image:url(../images/mail.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.header-top__right{
    display: flex;
    align-items:center;

}

.header-top__right-lang{
    width: 54px;
    border:none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance:none;
    background-image:url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

}

.header-top__right-list{
    display: flex;
    align-items:center;
    list-style-type: none;
}

.header-top__right-item{
     margin-right: 20px;
}

.header-bottom{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 36px;
}

.header-bottom__wrap{
    display: flex;
    align-items:center;

}

.navbar{
    margin-right: 48px;
}

.navbar__link{
    text-decoration: none;
    margin-right: 33px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.navbar__link:last-child{
    margin-right: 0;
}

.navbar__link--activ{
    color: #76A713
}

.link-btn{
    width: 100px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right: 10px;
    background-color:#76A713;
    border:none;
    cursor: pointer;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color:#ffffff;
}

.search{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #eeeeee;
}

.basket{
    position: relative;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 10px;
     background-color: #eeeeee;
}

.basket-number{
    position: absolute;
    top:6px;
    right: 6px;
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #76A713;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
}

/* hero */

.hero{
    height: 700px;
    background: rgba(118, 167, 19, 0.31);
    background-image:url(../images/textorgamic.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:right 129px top 139px;

}

.hero__inner{
    margin-top: 95px;
    margin-bottom:88px;
    background-image: url(../images/vegphoto.png);
    background-repeat: no-repeat;
    background-size:auto;
    background-position:right -38px top -17px;

}

.inner-slogan{
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 74px;
    text-transform: uppercase;
    color: #76A713;

}

.inner-heading{
    width: 480px;
    margin: 0;
    padding-bottom: 30px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 119px;
    text-transform: uppercase;
    color: #191D28;

}

.hero__btn{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    background-color: #76A713;
    /* button */
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    /* content */

}

.hero__bottom{
    width: 1170px;
    height:200px ;
    padding-top: 74px;
    padding-bottom: 74px;
    border: 1.5px solid #DDDDDD;
    background-color: #ffffff;
}

.hero__bottom-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-right: 10px;
    
}

.hero__bottom-item{
    width: 240px;
    height: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero__bottom-items{
    width: 240px;
    height: 60px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.bottom-item__heading{
    margin: 0;
    margin-right: 40px;
    padding-bottom: 6px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #000000;
}

.bottom-item__text{
    margin: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #666666;

}


.bottom-item__texts {
    margin: 0;
    margin-right: 40px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #666666;

}


.bottom-item__img{
    margin-right: 19px;

}


.bottom-item-line{
    position: relative;
    width: 50px;
    height: 1px;
    display: block;
    background-color: #dddddd;
    transform: rotate(90deg);
}

/* hero-arrow */

.hero__btnleft{
    position: absolute;
    top: 465px;
    left: 100px;
    width: 40px;
    height: 40px;
    border:none;
    background-image: url(../images/arrowleft.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:12px 16px;
    background-color: #76A713;
    cursor: pointer;
}

.hero__btnright{
    position: absolute;
    top: 475px;
    right: 106px;
    width: 40px;
    height: 40px;
    border:none;
    background-image: url(../images/arrowright.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:12px 16px;
    border:1px solid #76A713;
    background-color:rgba(118, 167, 19, -0.60);
    cursor: pointer;
}
/* end of hero */