/* discount */

.discount__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 77px;
  margin-top: 70px;

}

.discount__wrap-left {
  width: 585px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 46px 39px 47px 0px;
  background-color: #76A713;
  background-image: url(../images/broccoli-cauliflower.png);
  background-repeat: no-repeat;
  background-size: contain;

}

.wrap-left__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.wrap-left__heading {
  width: 241px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  text-align: right;
  color: #FFFFFF;

}

.wrap-left__btn {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
  border:none;
  background-color: #FF6600;
  /* button */
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  /* content */
}

.wrap-left__btn:hover {
    background-color: #ffffff;
    color:#ff6600;
    transition: all 300ms ease;
}
/* End of wrap-left */
.discount__wrap-right {
  width: 585px;
  display: flex;
  flex-direction: column;
  padding: 46px 40px 47px 0px;
  align-items: flex-end;
  background-color: #FF6600;
  background-image: url(../images/fruit-ananas.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.wrap-right__btn {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
  border: none;
  background-color: #76A713;
  /* button */
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  /* content */
}

.wrap-right__btn:hover {
    background-color: #ffffff;
    color:#76A713;
    transition: all 300ms ease;
}
/* End of wrap-right */

// retina
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .discount__wrap-left{
    background-image: url(../images/broccoli-cauliflower@2x.png);
  }

  .discount__wrap-right{
    background-image: url(../images/fruit-ananas@2x.png);
  }
}