/* section */
.section {
  margin-top: 105px;
  background: #F8F8F8;
}

.section__inner-list {
  margin-top: 100px;
  margin-bottom: 100px;
  list-style-type: none;
  display: flex;
  align-items: center;

}

.section__inner-items {
  width: 270px;
  height: 354px;
  margin-right: 30px;
  padding: 23px 23px 30px 24px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
}

.section__inner-items-img {
  margin: 0 12px;
}

.section__inner-items-heading {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 13px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #76A713;

}

.section__inner-items-text {
  width: 220px;
  margin-bottom: 20px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;
}

.section__inner-link {
  margin: 0 auto;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #76A713;
  /* button */
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  /* content */
}

.section__inner-link:hover {
  background-color: #95c92f;
}

.section__inner-item {
  position: relative;
  width: 270px;
  height: 354px;
  margin-right: 30px;
  padding: 23px 23px 30px 24px;
  border: 1px solid #76A713;
}

.section__inner-heading-fresh {
  margin-top: 15px;
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #000000;

}

.section__inner-img-fresh {
  margin: 2px 35px;
}

.section__inner-item-eggp {
  position: relative;
  width: 270px;
  height: 354px;
  margin-right: 30px;
  padding: 11px 23px 30px 24px;
  border: 1px solid #76A713;
}

.section__inner-heading-eggp {
  padding-bottom: 3px;
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #000000;

}

.section__inner-img-cherry {
  margin: 7px 55px;
}

.section__inner-heading-cherry {
  margin-top: 12px;
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
}

.section__inner-text {
  width: 220px;
  margin-top: 12px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;

}

.section__inner-btn {
  position: absolute;
  right: 114px;
  bottom: 24px;
  width: 40px;
  height: 40px;
  background-color: #F8F8F8;
  background-image: url(../images/green-arrow.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 13px 14px;
  border: 1px solid #76A713;
  cursor: pointer;
}

.section__inner-btn:hover {
  background-color: rgba(118, 167, 19, 0.2);
}

/* End of section */